p {
    font-weight: bold;
    margin-bottom:3px;
}

select {
    height:30px;
    width:400px;
    border-radius: 5px;
    outline: none;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 224, 224);
}

button {
    background-color: rgb(25, 60, 136);
    color:white;
    border:none;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    margin-top:10px;
    padding:6px 15px;
}

button,select {
    cursor:pointer;
}

table {
    width:100%;   
}

td {
    border:0,5px solid black;
}









